* {
    margin: 0;
    padding: 0;
}
#room  {
    height: 650px;
    width: 650px;
    background: url("../img/room.jpg") ;
    /*margin: 0 auto;*/
}
.block {
    height: 90px;
    width: 90px;
    background: whitesmoke;
    margin: 1px;
    float: left;
    opacity: 0.2;
}
#human {
    height: 100px;
    width: 100px;
    background: url("../img/human.png");
    position: absolute;
    top: 92px;
    left: 92px;
}